body {
    margin:0;
    text-align:center;
}

.menu {
    width: 100%;
    background-color: #555;
    overflow: auto;
    max-height:12%;
    height:100px;
}

.menu a {
    float: left;
    width: 16.65%;
    text-align: center;
    padding-top: 20px;
    padding-bottom:0px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    text-decoration:none;
    height:100px;
    
}

.menu a:hover {
    background-color:green;
}

.active {
    background-color: green;
}
    

img.logo {
    height:400px;
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 10px;
}

img.icon {
    height:50px;
    width:50px;
    
}

img.icon1 {
    height:65px;
    width:100px;
   
}
img.icon2 {
    height:58px;
    width:74px;
   
}
img.bg{
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:-100;
}


{  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
html{
    margin:10px;
}

iframe.fb{
    width:80%;
    height:40%;
    
}
input[type=submit] {
    
    
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h2{
    text-align:center;
}

iframe.vid{
    
}
iframe.vid1{
    
}
table{
    width:100%;
    height:300px;
    text-align:center;
}
iframe.eb{
    
}

iframe.email{
    
}

img.map
iframe.eb{
    
}
img.pic {
    height:410px;
    width:410px;
}
